<template scoped>
  <div class="disclaimer">
    <p>
      This page was built using<br>
      <a href="https://github.com/Uzair-Fasih/Modular-Division-Skeleton">
        Modular Development Skeleton
      </a>
      <br>
      <br>
      Design by <br>
      <a href="https://www.frontendmentor.io/solutions/huddle-landing-page-with-single-introductory-section-html-css-K1muvbiy">
        Front End Mentor.
      </a>
    </p>
  </div>
</template>

<style>
.disclaimer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: max-content;
  width: 20rem;
  padding: 1rem;
  background-color: #2d78f7;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .25;
  transition: .3s ease-in-out;
}
.disclaimer:hover {
  opacity: 1;
}

a {
  color: #FFF;
  text-decoration: none;
  border-bottom: 1.2px solid #FFF;
}

p {
  margin: auto;
  display: block;
  font-family: sans-serif;
  font-size: 1.2rem;
  height: max-content;
  width: max-content;
}
</style>